body{
    background-color: #0D1A2D;
    font-family: cursive;
}
.card{
    position: absolute;
    margin: auto;
    inset: 0;
    padding: 20px;
    height: 550px;
    max-width: 324px;
    width: 100%;
    background-color: #15273F;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}
img{
    width: 100%;
    border-radius: 12px;
}
h2{
    color: White;
}
.p1{
    color: #4E6483;
    font-size: 18px;
    font-weight: 500;
}
.p2{
    color: white;
    font-size: 18px;
    font-weight:500;
}
